body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

h1, h2 {
    text-align: center;
    color:#0069cc;
}

#form-container {
    margin-top: 40px;
}

#contacts-container {
    text-align: center; /* Center-align the contacts */
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}

#form-buttons {
    text-align: right;
    margin-bottom: 10px;
}

#form-buttons button {
    background-color: #a04caf;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    display: inline-block; /* Make buttons display inline-block */
}

#form-buttons button:hover {
    background-color: #45a049;
}


#deleteButton {
    background-color: #0084ff; /* Set background color to red */
    color: #fff;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    text-align: center;
}

#deleteButton:hover {
    background-color: #00becc; /* Change background color on hover */
}

#AddButton {
    background-color: #0084ff; /* Set background color to red */
    color: #fff;
    min-width: 300px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    text-align: center;
}

#AddButton:hover {
    background-color: #00becc; /* Change background color on hover */
}

#deleteButton:hover {
    background-color: #00becc; /* Change background color on hover */
}

#saveButton {
    background-color: #0084ff; /* Set background color to red */
    color: #fff;
    min-width: 300px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    text-align: center;
}

#saveButton:hover {
    background-color: #00becc; /* Change background color on hover */
}